# WEB SCRAPING -ASSIGNMENT-4

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\spectrum buildtech\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\spectrum buildtech\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#importing libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup


#importing selenium webdriver
from selenium import webdriver

#Importing required exception which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

#import regex
import re
from selenium.webdriver.common.by import By

import time

import warnings
warnings.filterwarnings('ignore')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [27]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [28]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [29]:
Vedios_Rank=[]
Vedios_Name=[]
Vedios_Artist=[]
Upload_Date=[]
Vedios_Views=[]

In [32]:
Vedios_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in Vedios_tags:
    Rank=i.text
    Vedios_Rank.append(Rank)
    
Vedios_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in Vedios_tags:
    Name=i.text
    Vedios_Name.append(Name)
    
Vedios_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in Vedios_tags:
    Artist=i.text
    Vedios_Artist.append(Artist)
    
Upload_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
for i in Upload_tags:
    Date=i.text
    Upload_Date.append(Date)
    
    
Vedios_tags=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in Vedios_tags:
    Views=i.text
    Vedios_Views.append(Views)

In [33]:
print(len(Vedios_Rank),len(Vedios_Name),len(Vedios_Artist),len(Upload_Date),len(Vedios_Views))

30 30 30 30 30

In [34]:
import pandas as pd
df=pd.DataFrame({'Rank':Vedios_Rank,'Name':Vedios_Name,'Artist':Vedios_Artist,'Upload_Date':Upload_Date,'Views':Vedios_Views})
df

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

2. Scrape the details teamIndia’sinternationalfixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [60]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [61]:
driver.get("https://www.bcci.tv/")

In [62]:
searchimg=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
searchimg.click()

In [65]:
Allformat=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]")
Allformat.click()

In [66]:
ODIFixture=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[3]")
ODIFixture.click()

In [67]:
Match_Title=[]
INT_Series=[]
Match_Place=[]
Match_Date=[]
Match_Time=[]

In [68]:
Match_tags=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in Match_tags:
    Title=i.text
    Match_Title.append(Title)
    
INT_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in INT_tags:
    Series=i.text
    INT_Series.append(Series)
    
Match_tags=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in Match_tags:
    Place=i.text
    Match_Place.append(Place) 
    
Match_tags=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in Match_tags:
    Date=i.text
    Match_Date.append(Date)    
    
Match_tags=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in Match_tags:
    Time=i.text
    Match_Time.append(Time)

In [69]:
print(len(Match_Title),len(INT_Series),len(Match_Place),len(Match_Date),len(Match_Time))

3 3 3 3 3

In [71]:
import pandas as pd
df=pd.DataFrame({'Title':Match_Title,'Series':INT_Series,'Place':Match_Place,'Date':Match_Date,'Time':Match_Time})
df

,Title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Wankhede Stadium,",17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"MA Chidambaram Stadium,",22 MAR 2023,1:30 PM IST

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [47]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [48]:
driver.get("http://statisticstimes.com/ ")

In [49]:
searchEconomy=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
searchEconomy.click()

In [50]:
searchEconomyindia=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
searchEconomyindia.click()

In [51]:
searchEconomyindiastate=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
searchEconomyindiastate.click()

In [52]:
GDP_Rank=[]
GDP_State=[]
GDP_GSDP18_19=[]
GDP_GSDP19_20=[]
GDP_share18_19=[]
Gross_GDPbillion=[]

In [53]:
GDP_tags=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in GDP_tags[0:33]:
    Rank=i.text
    GDP_Rank.append(Rank)
    
GDP_tags=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in GDP_tags[0:33]:
    State=i.text
    GDP_State.append(State) 
    
GDP_tags=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GDP_tags[0:33]:
    GSDP18_19=i.text
    GDP_GSDP18_19.append(GSDP18_19)    
    
GDP_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[3]')
for i in GDP_tags[0:33]:
    GSDP19_20=i.text
    GDP_GSDP19_20.append(GSDP19_20)
    
    
GDP_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[5]')
for i in GDP_tags[0:33]:
    share18_19=i.text
    GDP_share18_19.append(share18_19)    
    
GDP_tags=driver.find_elements(By.XPATH,'//table[@class="display dataTable"][1]/tbody/tr/td[6]')
for i in GDP_tags[0:33]:
    GDPbillion=i.text
    Gross_GDPbillion.append(GDPbillion)

In [54]:
print(len(GDP_Rank),len(GDP_State),len(GDP_GSDP18_19),len(GDP_GSDP19_20),len(GDP_share18_19),len(Gross_GDPbillion))

33 33 33 33 33 33

In [61]:
import pandas as pd
df=pd.DataFrame({'Rank':GDP_Rank,'State':GDP_State,'GSDP18_19atcurrent_prices':GDP_GSDP18_19,'GSDP19_20at_current_prices':GDP_GSDP19_20,'Share18_19':GDP_share18_19,'GDP$Billion':Gross_GDPbillion})
df

,Rank,State,GSDP18_19atcurrent_prices,GSDP19_20at_current_prices,Share18_19,GDP$Billion
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [63]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [64]:
driver.get("https://github.com/")

In [66]:
searchmain=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
searchmain.click()

In [67]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
search.click()

In [68]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_Used=[]

In [72]:
Repository_tags=driver.find_elements(By.XPATH,'//div[@class="Box"][1]/div/article/h1/a')
for i in Repository_tags:
    title=i.text
    Repository_title.append(title)

In [73]:
Repository_title

['microsoft / visual-chatgpt',
 'togethercomputer / OpenChatKit',
 'microsoft / visual-chatgpt',
 'ggerganov / llama.cpp',
 'GanymedeNil / document.ai',
 'kaixindelele / ChatPaper',
 'ggerganov / whisper.cpp',
 'sindresorhus / awesome',
 'camenduru / stable-diffusion-webui-colab',
 'donnemartin / system-design-primer',
 'davinci1012 / pinduoduo_backdoor_unpacker',
 'oobabooga / text-generation-webui',
 'termux / termux-packages',
 'tangly1024 / NotionNext',
 'sherlock-project / sherlock',
 'neovim / neovim',
 'bmaltais / kohya_ss',
 'mckaywrigley / chatbot-ui',
 'The-Art-of-Hacking / h4cker',
 'CS-BAOYAN / CSSummerCamp2023',
 'Genymobile / scrcpy',
 'hiifeng / V2ray-for-Doprax',
 'futantan / OpenGpt',
 'zauberzeug / nicegui',
 'iptv-org / iptv',
 'yuvalsuede / ai-component-generator']

In [75]:
Repository_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in Repository_tags:
    description=i.text
    Repository_description.append(description)

In [76]:
Repository_description

['Official repo for the paper: Visual ChatGPT: Talking, Drawing and Editing with Visual Foundation Models',
 "Port of Facebook's LLaMA model in C/C++",
 '基于向量数据库与GPT3.5的通用本地知识库方案(A universal local knowledge base solution based on vector database and GPT3.5)',
 'Use ChatGPT to summarize the arXiv papers.',
 "Port of OpenAI's Whisper model in C/C++",
 '😎 Awesome lists about all kinds of interesting topics',
 'stable diffusion webui colab',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 'Samples and Unpacker of malicious backdoors and exploits developed and used by Pinduoduo',
 'A gradio web UI for running Large Language Models like GPT-J 6B, OPT, GALACTICA, LLaMA, and Pygmalion.',
 'A package build system for Termux.',
 '一个使用 NextJS + Notion API 实现的，部署在 Vercel 上的静态博客系统。为Notion和所有创作者设计。',
 '🔎 Hunt down social media accounts by username across social networks',
 'Vim-fork focused on extensibility and usability',
 "A simple chatbot starter kit for OpenAI's chat model using Next.js, TypeScript, and Tailwind CSS.",
 'This repository is primarily maintained by Omar Santos (@santosomar) and includes thousands of resources related to ethical hacking / penetration testing, digital forensics and incident response (DFIR), vulnerability research, exploit development, reverse engineering, and more.',
 'Display and control your Android device',
 'The tool can install v2ray on the Doprax, including VMess and VLess protocols, it will automatically switch IP, you need to fork this projects, read readme.md and run it. Create By ifeng.',
 'Create your own ChatGPT App in seconds.',
 'Create web-based UI with Python. The nice way.',
 'Collection of publicly available IPTV channels from all over the world']

In [78]:
Contributors_tags=driver.find_elements(By.XPATH,'//div[@class="Box"][1]/div/article/div/a[2]')
for i in Contributors_tags:
    count=i.text
    Contributors_count.append(count)

In [79]:
Contributors_count

['194',
 '1,292',
 '215',
 '84',
 '82',
 '782',
 '25,192',
 '594',
 '38,140',
 '210',
 '208',
 '2,607',
 '1,704',
 '4,716',
 '4,491',
 '151',
 '26',
 '2,214',
 '66',
 '8,138',
 '18,014',
 '99',
 '83',
 '44',
 '84']

In [81]:
Language_tags=driver.find_elements(By.XPATH,'//div[@class="Box"][1]/div/article/div/span/span[2]')
for i in Language_tags:
    Used=i.text
    Language_Used.append(Used)

In [82]:
Language_Used

['Python',
 'Python',
 'C',
 'Python',
 'Python',
 'C',
 'Jupyter Notebook',
 'Python',
 'Java',
 'Python',
 'Shell',
 'JavaScript',
 'Python',
 'Vim Script',
 'Python',
 'TypeScript',
 'Jupyter Notebook',
 'C',
 'Dockerfile',
 'TypeScript',
 'Python',
 'JavaScript',
 'TypeScript']

5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [13]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [14]:
driver.get(" https:/www.billboard.com/")

In [16]:
searchchart=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
searchchart.click()

In [17]:
searchview=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
searchview.click()

In [25]:
Song_Name1A=[]
Artist_Name1=[]
Last_Weekrank1=[]
Peak_Rank1=[]
Week_Onboard1=[]

In [30]:
Song_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li/h3')
for i in Song_tags:
    Name1A=i.text
    Song_Name1A.append(Name1A)
    
Artist_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[1]/span[1]')
for i in Song_tags:
    Name1=i.text
    Artist_Name1.append(Name1)
    
Last_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[4]/span')
for i in Last_tags:
    Weekrank1=i.text
    Last_Weekrank1.append(Weekrank1)
    
Peak_tags=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"][1]/ul/li[5]/span')
for i in Last_tags:
    Rank1=i.text
    Peak_Rank1.append(Rank)    

    
Week_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in Last_tags:
    Onboard1=i.text
    Week_Onboard1.append(Onboard1)

In [31]:
df=pd.DataFrame({'Song_Name1A':Song_Name1A,'Artist_Name1':Artist_Name1,'Last_Weekrank1':Last_Weekrank1,'Peak_Rank1':Peak_Rank1,'Week_Onboard1':Week_Onboard1})
df

    Song_Name1A Artist_Name1 Last_Weekrank1 Peak_Rank1 Week_Onboard1
0    Last Night   Last Night              5          5             5
1    Last Night   Last Night              5          5             5
2    Last Night   Last Night              5          5             5
3       Flowers      Flowers              2          5             2
4     Kill Bill    Kill Bill              3          5             3
..          ...          ...            ...        ...           ...
97     Nonsense     Nonsense             75          5            75
98          AMG          AMG             80          5            80
99   Lift Me Up   Lift Me Up             65          5            65
100  You Didn't   You Didn't             78          5            78
101       10:35        10:35             81          5            81

[102 rows x 5 columns]

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [5]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [6]:
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [7]:
Book_Name=[]
Book_Author=[]
Book_volumesold=[]
Book_Publisher=[]
Book_Genre=[]

In [10]:
Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[2]')
for i in Book_tags:
    Name=i.text
    Book_Name.append(Name)
    
Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[3]')
for i in Book_tags:
    Author=i.text
    Book_Author.append(Author)    
    
Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[4]')
for i in Book_tags:
    volumesold=i.text
    Book_volumesold.append(volumesold)
    
Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[5]')
for i in Book_tags:
    Publisher=i.text
    Book_Publisher.append(Publisher) 
    
Book_tags=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"][1]/tbody/tr/td[5]')
for i in Book_tags:
    Genre=i.text
    Book_Genre.append(Genre)

In [12]:
print(len(Book_Name),len(Book_Author),len(Book_volumesold),len(Book_Publisher),len(Book_Genre))

100 100 100 100 100

In [13]:
import pandas as pd
df=pd.DataFrame({'Book_Name':Book_Name,'Author_Name':Book_Author,'VolumeSold':Book_volumesold,'Publisher':Book_Publisher,'Genre':Book_Genre})
df

,Book_Name,Author_Name,VolumeSold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,Transworld
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Bloomsbury
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Bloomsbury
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Bloomsbury
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Random House
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,Random House
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Penguin
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Scholastic Ltd.
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Orion
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Penguin

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [24]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [25]:
driver.get("  https://www.imdb.com/list/ls095964455/ ")

In [26]:
Imdb_Name=[]
Imdb_Yearspan=[]
Imdb_Genre=[]
Imdb_Runtime=[]
Imdb_Ratings=[]
Imdb_Votes=[]

In [27]:
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/h3/a')
for i in Imdb_tags:
    Name=i.text
    Imdb_Name.append(Name)
    
    
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/h3/span[2]')
for i in Imdb_tags:
    Yearspan=i.text
    Imdb_Yearspan.append(Yearspan)
    
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/p[1]/span[5]')
for i in Imdb_tags:
    Genre=i.text
    Imdb_Genre.append(Genre) 
    
    
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/p[1]/span[3]')
for i in Imdb_tags:
    Runtime=i.text
    Imdb_Runtime.append(Runtime)
    
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-list"][1]/div/div[2]/div[1]/div[1]/span[2]')
for i in Imdb_tags:
    Ratings=i.text
    Imdb_Ratings.append(Ratings)    
    
Imdb_tags=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]')
for i in Imdb_tags:
    Votes=i.text
    Imdb_Votes.append(Votes)

In [28]:
print(len(Imdb_Name),len(Imdb_Yearspan),len(Imdb_Genre),len(Imdb_Runtime),len(Imdb_Ratings),len(Imdb_Votes))

100 100 100 100 100 100

In [29]:
import pandas as pd
df=pd.DataFrame({'Imdb_Name':Imdb_Name,'Imdb_Yearspan':Imdb_Yearspan,'Imdb_Genre':Imdb_Genre,'Imdb_Runtime':Imdb_Runtime,'Imdb_Ratings':Imdb_Ratings,'Imdb_Votes':Imdb_Votes})
df

,Imdb_Name,Imdb_Yearspan,Imdb_Genre,Imdb_Runtime,Imdb_Ratings,Imdb_Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,137,670"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,222,654"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,014,796"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"298,929"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,799"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,002"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,015"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,858"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,419"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,481"

8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [44]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [45]:
driver.get(" https://archive.ics.uci.edu/ ")

In [46]:
searchADS=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
searchADS.click()

In [40]:
Dataset_Name=[]
Dataset_Type=[]
Dataset_Task=[]
Dataset_AttributeType=[]
Dataset_NoofInstances=[]
Dataset_Noofattribute=[]
Dataset_YearNote=[]

In [47]:
India=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p')

try:

    India.click()

except ElementNotInteractableException:

    driver.get(India.get_attribute('href'))

In [ ]:
Dataset_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in Dataset_tags:
    Name=i.text
    Dataset_Name.append(Name)
    
Dataset_tags=driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in Dataset_tags:
    Type=i.text
    Dataset_Type.append(Type)

In [ ]:
/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p

In [34]:
Dataset_tags=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p')
for i in Dataset_tags:
    Type=i.text
    Dataset_Type.append(Type)

In [36]:
len(Dataset_Type)

1

 9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [48]:
driver=webdriver.Chrome(r"D:\KN E D\DS\Internship\chromedriver_win32.zip\chromedriver.exe")

In [49]:
driver.get("https://www.naukri.com/hr-recruiters-consultants ")

In [50]:
designation=driver.find_element(By.CLASS_NAME,"sugInp")
designation.send_keys('Data science')

In [53]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [54]:
Datascience_Name=[]
Datascience_Designation=[]
Datascience_Company=[]
Datascience_Skilltheyhire=[]
Datascience_Location=[]

In [55]:
Datascience_tags=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in Datascience_tags[0:49]:
    Name=i.text
    Datascience_Name.append(Name)
    
Datascience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Datascience_tags[0:49]:
    Designation=i.text
    Datascience_Designation.append(Designation) 
    
Datascience_tags=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
for i in Datascience_tags[0:49]:
    Company=i.text
    Datascience_Company.append(Company)    

Datascience_tags=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in Datascience_tags[0:49]:
    Skilltheyhire=i.text
    Datascience_Skilltheyhire.append(Skilltheyhire)  
    
Datascience_tags=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in Datascience_tags[0:49]:
    Location=i.text
    Datascience_Location.append(Location)

In [56]:
print(len(Datascience_Name),len(Datascience_Designation),len(Datascience_Company),len(Datascience_Skilltheyhire),len(Datascience_Location))

49 49 49 49 49

In [57]:
import pandas as pd
df=pd.DataFrame({'Datascience_Name':Datascience_Name,'Datascience_Designation':Datascience_Designation,'Datascience_Company':Datascience_Company,'Datascience_Skilltheyhire':Datascience_Skilltheyhire,'Datascience_Location':Datascience_Location})
df

,Datascience_Name,Datascience_Designation,Datascience_Company,Datascience_Skilltheyhire,Datascience_Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai